.abs-navbar {
  cursor: pointer;
  z-index: 10;
  position: fixed;
  top: 15px;
  width: 52px;
  min-height: 50px;
  right: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
}

.nav-icon {
  padding-top: 12px;
  font-size: 28px;
}

.nav-icon:hover {
  padding-top: 8px;
  font-size: 36px;
}

.landing-page {
  margin: auto;
  vertical-align: middle;
  background-color: #101315;
}

.experience-page {
  margin: auto;
  vertical-align: middle;
  height: 100vh !important;
  background: linear-gradient(to right, #2c5364, #203a43);
}

.extras-page {
  margin: auto;
  vertical-align: middle;
  background-color: rgb(36, 199, 138);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-text {
  /* padding-left: 10vw; */
  font-family: Oswald;
  font-size: 150px;
}

.title-container {
  padding-top: 30vh;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.title-subtext {
  padding-bottom: 20px;
  padding-left: 40px;
}

.title-subtext-2 {
  flex-grow: 1;
  padding-bottom: 20px;
  padding-right: 12px;
  text-align: right;
}

.tile-large {
  aspect-ratio: 16/9;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  background-color: #f3f0e0;
}

.ant-list-item {
  border-block-end: none !important;
}

.tile-small {
  aspect-ratio: 1/1;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: #f3f0e0;
  flex-grow: 2;
}

.tile-small-text {
  padding: 12px;
  font-size: 16px;
  width: 100%;
  color: #101315;
  text-align: center;
}
.tile-container {
  /* padding-top: 20vh; */
  padding-bottom: 20vh;
}

.product-img {
  object-fit: contain;
  max-height: 80%;
  max-width: 70%;
}

.job-description {
  object-fit: contain;
  height: 100%;
  margin-left: 40px;
  padding-top: 20px;
}

.tile-side {
  font-size: 35px;
  color: #101315;
  vertical-align: top;
  width: 20%;
}

.tile-right {
  margin-left: auto;
  margin-right: 35px;
}

.tile-left-top {
  margin-left: 35px;
  margin-right: auto;
}

.tile-left-bottom {
  margin-left: 35px;
  margin-right: auto;
  font-size: 14px;
}

.card-side-container {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.modal-content {
  display: flex;
  justify-content: space-around;
  background-color: #f3f0e0;
  padding: auto;
  width: 100%;
  text-align: center;
  color: #101315;
}

.ant-modal-content {
  /* background-color: #f3f0e0 !important; */
  background-color: #f3f0e0 !important;
}
